.button{
    -fx-font-weight: bold;
    -fx-background-radius: 22;
    -fx-font-size: 16px;
    -fx-background-color: #2196F3;
}

.button:hover{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22 ;
    -fx-font-size: 16px;
    -fx-border-color: #2196F3;
    -fx-border-radius: 22;
    -fx-border-width: 3px;
}

.button:pressed{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22 ;
    -fx-font-size: 16px;
    -fx-border-color: #2196F3;
    -fx-border-radius: 22;
    -fx-border-width: 3px;
    -fx-rotate: 10;
}

.text-field {
    -fx-prompt-text-fill: black;
    -fx-background-color : transparent;
    -fx-border-width : 0px 0px 2px 0px;
    -fx-border-color : black;
}